#background-image {
    background-color: aliceblue;
    background-image: url('../images/wp2771916-anime-background-wallpaper.jpg');
    background-position: center;
    background-size: cover;
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
}

.header {
    text-align:right;
    padding-right: 25%;
    /* background-image: linear-gradient(to right, , ); */
}

.row {
    padding: 0px 20px 0px;
}

/* .card-header {
} */

/* #search-bar {
    background-color: ;
} */

h1, h3, h5 {
    color: aliceblue;
}

#search-button {
    color: aliceblue;
}

.flex-parent {
    display:flex;
    flex-direction: row;
    margin-top: 2em;
}

.flex-child {
    flex-basis: 20%;
}