.body {
    background-color: aliceblue;
    background-image: url('../images/wp2771916-anime-background-wallpaper.jpg');
    background-position: center;
    background-size: auto;
}

.header {
    text-align:right;
    padding-right: 25%;
    color: aliceblue;
    background-image: linear-gradient(to right, rgb(0, 0, 200), rgb(0, 0, 75));
}

#search-button {
    color: aliceblue;
    background-color: cornflowerblue;
    width: 185px;
    margin-top: 10px;
    border-radius: 25px;
}

.flex-parent {
    display:flex;
    flex-direction: row;
    margin-top: 2em;
}

.flex-child {
    flex-basis: 20%;
}