#background-image {
    background-color: azure;
    background-image: url('../images/wp2771916-anime-background-wallpaper.jpg');
    background-size: cover;
    background-position: center;
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-attachment: fixed;
} /* background still doesn't work right when in phone mode */

.header {
    text-align:right;
    padding-right: 25%;
    opacity: 0.8;
    background-image: linear-gradient(to right, rgb(106, 127, 204), rgb(50, 50, 130));
}

.row {
    padding: 0px 20px 0px;
}

#user-input {
    opacity: 0.8;
}

#search-button {
    color: aliceblue;
}

#search-history {
    opacity: 0.8;
}

#today-weather {
    opacity: 0.8;
}

#five-day-forecast {
    opacity: 0.8;
    padding: 0%;
    margin-top: 2em;
}

h2 {
    margin-left: 1rem;
}

h4 {
    display: flex;
    justify-content: center;
}

/* weather icons */
img {
    background-color: rgb(216, 215, 215);
    border-radius: 10%;
    border-bottom: 0;
    display: flex;
    margin-left: 1rem;
}

div.card-header {
    border: unset;
}

@media only screen and (max-width: 600px) {
    #background-image {
        position: relative;
    }
  }

  @media only screen and (max-width: 1100px) {
    #five-day-forecast {
        display: flex;
        flex-direction: column;
    } .card {
        display:flex;
        flex-direction: row;
        width: 30em;
    }
  }